<div class="card">
  <div class="card-header">
    My Routes
  </div>
  <ul class="list-group list-group-flush">
    <% @routes.each do |route| %>
      <a href="/routes/<%= route.id %>" class="list-group-item list-group-item-action">
        <%= Location.find(route.start_id).name %> -> <%= Location.find(route.end_id).name %>
      </a>
    <% end %>
    <a class="btn btn-secondary" role="button" href="/routes/new">
      Add a new route
    </a>
  </ul>
</div>