<!-- Validation failure messages -->
<% if @route.present? %>
  <% if @route.errors.any? %>
    <% @route.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="card">
  <div class="card-header text-center">
        Create Route
  </div>
  <div class="card-body">
    <form action="/create_route" method="post">
      <!-- Label and input for name -->
      <div class="form-row">
        <div class="col">
          <%= select_tag("start_id", options_from_collection_for_select(Location.where(user_id: current_user.id).all, :id, :name, @route.try(:start_id)), {:class => "form-control", :prompt => "Start"}) %>
        </div>
        <div class="col">
          <%= select_tag("end_id", options_from_collection_for_select(Location.where(user_id: current_user.id).all, :id, :name, @route.try(:end_id)), {:class => "form-control", :prompt => "End"}) %>
        </div>
        <div class="col">
          <button class="btn btn-block btn-primary">
            Create route
          </button>
        </div>
      </div>
    </form>
  </div>
</div>