<div class="card">
  <div class="card-header pr-0 pl-0 text-center">
    <div class="container">
      <div class="row">
        <div class="col text-left">
        </div>
        <div class="col text-center align-middle">
          My Locations
        </div>
        <div class="col text-right">
          <a class="btn btn-secondary" role="button" href="/locations/new">
            <i class="fas fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <% @locations.each do |location| %>
      <a href="/locations/<%= location.id %>" class="list-group-item list-group-item-action">
        <b><%= location.name %></b> <i class="fas fa-map-pin"></i> <%= location.address %>
      </a>
    <% end %>
  </ul>
</div>