<!-- Validation failure messages -->
<% if @location.present? %>
  <% if @location.errors.any? %>
    <% @location.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="card">
  <div class="card-header text-center">
        Create Location
  </div>
  <div class="card-body">
    <form action="/create_location" method="post">
      <!-- Label and input for name -->
      <div class="form-row">
        <div class="col">
        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @location.try(:name) %>">
        </div>
        <div class="col">
          <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @location.try(:address) %>">
        </div>
        <div class="col">
          <button class="btn btn-block btn-primary">
            Create location
          </button>
        </div>
      </div>
    </form>
  </div>
</div>